

.forumbackground{
   background-color: white;
   border-color: greenyellow;

}

.forumnav{
 
   padding-top:15px;
   padding-left:20px ;
   padding-bottom: 15px;
   padding-right: 20px;
   position: fixed;
   top:0;
   left:0;
   right: 0;
   width: 100%;
   height:auto;
   background-color: #f2f2f2;
}

.forumbody{
   margin-top:5px; 
   background-color: #f2f2f2;
}

.forumt{
   width: 100%;
   height: auto;
   border: 2px solid black;
}

.forumt th,td{
   padding: 5px;
   border: 1px solid black;
}

h1{
   font: size 1.7em;
}

.catbtn{
   margin-top: 5px;
   margin-bottom: 5px;
   top:0;
   float: right;
   position: relative;
   
}

.navelements{
   font-size: 15px;
}

.navicon{
   color: green;
}

.navicon:hover {
   color:black;
   font-weight: bold;
 }