/*Structure Styles*/

.forumbody{
   display: flex;
}

.forumbody div{
   padding: 5px;
   margin:2px;
   background-color: rgb(53, 87, 2);
   font-weight: bold;
}

.forumbody .status{
   flex: 5%;
}
.forumbody .content{
   flex: 70%;
}
.forumbody .discussion{
   flex: 10%;
}
.forumbody .ld{
   flex: 15%;
}

/*Content Styles*/
.forumrow{
   display: flex;
}

.forumrow .status, .content, .discussion, .ld{
   padding: 5px;
   margin: 2px;
   background-color: rgb(75, 122, 3);
}

.forumrow .status{
   flex:5%;
   font-size: 30px;
   text-align: center;
}

.forumrow .content{
   flex:70%;
   font-size: 20px;
   text-align: center;
}

.forumrow .discussion{
   flex:10%;
   font-size: 20px;
   text-align: center;
}

.forumrow .ld{
   flex:15%;
   font-size: 20px;
   text-align: center;
}