body{
    background-color: whitesmoke;
}
.carousel .item{
     height: 300px;

}
.item img{
    position: absolute;
    top: 0%;
    left: 0%;
    min-height: 300px;
}
.coverart{
    background-image: url(../img/coverart.png);
    width: 100%;
    height: 300px;
}