#header-background{
    width: 100%;
    height: 500px;
    background: url(../Images/background.jpg) ;
    background-repeat: no-repeat;
    

}
.card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
 